name: ARES Launcher Release Pipeline

on:
  release:
    types: [released]

env:
  PROJECT_FILE: 'ARESLauncher.Desktop/ARESLauncher.Desktop.csproj'
  OUTPUT_PATH: 'publish' # Shared output directory for all artifacts

jobs:
  build-and-deploy:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: ubuntu-latest
            runtime_id: linux-x64
            os_name_tag: linux
          - os: windows-latest
            runtime_id: win-x64
            os_name_tag: windows
          - os: macos-latest
            runtime_id: osx-arm64
            os_name_tag: macos
            
    runs-on: ${{ matrix.os }}
    env:
      ZIP_FILE_NAME: 'ARES-LAUNCHER-${{ github.event.release.tag_name }}-${{ matrix.os_name_tag }}.zip'
      DMG_FILE_NAME: 'ARES-LAUNCHER-${{ github.event.release.tag_name }}-${{ matrix.os_name_tag }}.dmg'

    steps:
    - name: Checkout Code
      uses: actions/checkout@v5
      with:
        ref: ${{ github.event.release.tag_name }}

    - name: Set up .NET 10.x
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '10.x'

    - name: Restore Dependencies
      run: dotnet restore ${{ env.PROJECT_FILE }}

    - name: Build and Publish Self-Contained Release Artifacts
      run: |
        TAG=${{ github.ref_name }}
        VERSION=${TAG#v}
        echo "Publishing ARES Launcher Project for ${{ matrix.os_name_tag }}  (${{ matrix.runtime_id }})"
        dotnet publish ${{ env.PROJECT_FILE }} --configuration Release --output ${{ env.OUTPUT_PATH }} -p:UseAppHost=true -p:PublishSingleFile=true -r ${{ matrix.runtime_id }} --self-contained true /p:Version=$VERSION

    - name: Package for macOS
      if: runner.os == 'macOS'
      run: |
        chmod +x package-macos.sh
        VERSION=${{ github.event.release.tag_name }}
        ./package-macos.sh ${{ env.OUTPUT_PATH }} ${VERSION#v} ${{ env.DMG_FILE_NAME }}

    - name: Create ZIP Archive (Windows)
      if: runner.os == 'Windows'
      run: 7z a -r "${{ env.ZIP_FILE_NAME }}" .\"${{ env.OUTPUT_PATH }}\*"
      
    - name: Create ZIP Archive (Linux)
      if: runner.os == 'Linux'
      run: |
        cd ${{ env.OUTPUT_PATH }}
        zip -r ../${{ env.ZIP_FILE_NAME }} .
    
    - name: Upload Published Binaries to Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          ${{ env.ZIP_FILE_NAME }}
          ${{ env.DMG_FILE_NAME }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
        
